@font-face {
  font-family: "Nunito";
  src: url("@/assets/fonts/nunito/nunito.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("@/assets/fonts/nunito/nunito-italic.ttf");
  font-style: italic;
}

@import "tailwindcss";

@theme {
  --color-primary: #605bff;
  --color-secondary: #605bff1a;
  --color-third: #f7f7f8;
  --color-accent: #ff8f6be5;
  --color-success: #3a974c;
  --color-informative: #f29339;
  --color-destructive: #d11a2a;
  --color-badge-primary: #ef37ff;
  --color-badge-secondary: #26c0e2;
  --color-primary-foreground: #030229;
  --color-accent-foreground: #ff8f6b;

  --font-primary: Nunito, serif;
}

@layer base {
  body {
    @apply bg-[#FAFAFB] font-primary;
  }
}

@layer utilities {
  .container {
    @apply w-[98%] md:max-w-11/12 2xl:max-w-7xl mx-auto px-2;
  }
}

@keyframes scrollLeft {
  to {
    transform: translateX(calc(-100% - 96px));
  }
}
